@model Hebony.Models.GLAccountViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    GL Account Management / Edit
                    <div class="page-title-subheading">
                        edit gl account
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Edit GL Account</h5>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="position-relative form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="position-relative form-group">
                                @Html.LabelFor(model => model.BranchID)
                                <select name="BranchID" id="BranchID" class="form-control">
                                    @foreach (var branch in (ViewData["Branches"] as List<Hebony.Models.Branch>))
                                    {
                                        if (branch.ID == Model.BranchID)
                                        {
                                            <option value=@branch.ID selected>@branch.Name</option>
                                        }
                                        else
                                        {
                                            <option value=@branch.ID>@branch.Name</option>
                                        }
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2">
                                    <input type="submit" value="Update" class="mt-1 btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

