@model IEnumerable<Hebony.Models.GLAccount>

@{
    var i = 0;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    GL Account Management / View All
                    <div class="page-title-subheading">
                        view all created gl accounts
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Users
                    <div class="btn-actions-pane-right">
                        <div role="group" class="btn-group-sm btn-group">
                            <a href="@Url.Action("Create", "GLAccount")">
                                <button class="active btn btn-focus">Create GL Account</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="app-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Acc. No.</th>
                                <th>Balance</th>
                                <th>Branch</th>
                                <th>GL Category</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tbody>
                                <tr>
                                    <td class="text-muted">@i</td>
                                    <td>@item.Name</td>
                                    <td>@item.AccNo</td>
                                    <td>@item.Balance</td>
                                    <td>@item.Branch.Name</td>
                                    <td>@item.GLCategory.Name</td>
                                    <td class="text-center">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

