@model Hebony.Models.GLCategoryViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    GL Category Management / Edit
                    <div class="page-title-subheading">
                        edit gl category
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Edit GL Category</h5>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="position-relative form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="position-relative form-group">
                                @Html.LabelFor(model => model.MainCategoryID)
                                <select name="MainCategoryID" id="MainCategoryID" class="form-control">
                                    @foreach (int i in Enum.GetValues(typeof(Hebony.Models.MainCategory)))
                                    {
                                        if (Model.MainCategoryID == i)
                                        {
                                            <option value=@i selected>@Enum.GetName(typeof(Hebony.Models.MainCategory), i)</option>
                                        }
                                        else
                                        {
                                            <option value=@i>@Enum.GetName(typeof(Hebony.Models.MainCategory), i)</option>
                                        }

                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.MainCategoryID, "", new { @class = "text-danger" })
                            </div>

                            <div class="position-relative form-group">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2">
                                    <input type="submit" value="Update" class="mt-1 btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

