@model IEnumerable<Hebony.Models.ApplicationUser>

@{
    var i = 0;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    User Management / View All
                    <div class="page-title-subheading">
                        view all created managers, admin, tellers
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Users
                    <div class="btn-actions-pane-right">
                        <div role="group" class="btn-group-sm btn-group">
                            <a href="@Url.Action("Create", "User")">
                                <button class="active btn btn-focus">Create New</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="app-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Branch</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tbody>
                                <tr>
                                    <td class="text-muted">@i</td>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>
                                        @if (@item.Branch != null)
                                        {
                                            @item.Branch.Name
                                        }
                                    </td>
                                    <td class="text-center">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>


