@model IEnumerable<Hebony.Models.GLPosting>

@{
    var i = 0;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    GL Posting Management / View All
                    <div class="page-title-subheading">
                        view all posted GLs
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Users
                    <div class="btn-actions-pane-right">
                        <div role="group" class="btn-group-sm btn-group">
                            <a href="@Url.Action("Create", "GLPosting")">
                                <button class="active btn btn-focus">Create GL Posting</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="app-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Credited Acc Name</th>
                                <th>Credited Acc No</th>
                                <th>Debited Acc Name</th>
                                <th>Debited Acc No</th>
                                <th>Credited Amount</th>
                                <th>Debited Amount</th>
                                <th>Transaction Date</th>
                                <th>Narration</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tbody>
                                <tr>
                                    <td class="text-muted">@i</td>
                                    <td>@item.CreditAccount.Name</td>
                                    <td>@item.CreditAccount.AccNo</td>
                                    <td>@item.DebitAccount.Name</td>
                                    <td>@item.DebitAccount.AccNo</td>
                                    <td>@item.CreditAmount</td>
                                    <td>@item.DebitAmount</td>
                                    <td>@item.TransactionDate</td>
                                    <td>@item.Narration</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

