@model IEnumerable<Hebony.Models.Customer>

@{
    var i = 0;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TellerDashboard.cshtml";
}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Customer Management / View All
                    <div class="page-title-subheading">
                        view all created customers
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Users
                    <div class="btn-actions-pane-right">
                        <div role="group" class="btn-group-sm btn-group">
                            <a href="@Url.Action("Create", "Customer")">
                                <button class="active btn btn-focus">Create New</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="app-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Phone Number</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tbody>
                                <tr>
                                    <td class="text-muted">@i</td>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Gender</td>
                                    <td>@item.PhoneNumber</td>
                                    <td class="text-center">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


